/**
 * Custom CSS for Cats of Ulthar
 * @todo - Refactor for SASS?
 */

.description-text {
  clear: both;
  font-size: .8rem;
  color: #333;
  margin: 0px 5px 10px 5px;
}

.bg-blood-red {
  background: #541313;
}

.bg-units {
  background: #ddd;
}

.bg-resources {
  background: #ccc;
}

@media screen and (max-width: 480px) {
  .form-wrapper button {
    margin: 10px 0px 10px 0px;
    width: 100%;
  }
}
